<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <!-- Only temporary for development. -->
  <meta http-equiv="Cache-Control" content="no-cache">
  <title>{{ site.name }} &mdash; {{ page.title }}</title>
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
  <!--[if IE]>
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
  <link href='http://fonts.googleapis.com/css?family=Fenix&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="container">
    <h1 class="site-name"><a href="{{ site.baseurl }}">// {{ site.name }}</a></h1>
    {{ content }}
    {% include footer.html %}
  </div>
  <!--
  <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
  <script>
  new TWTR.Widget({
    version: 2,
    type: 'profile',
    rpp: 5,
    interval: 30000,
    width: 250,
    height: 300,
    theme: {
      shell: {
        background: '#aa0000',
        color: '#ffffff'
      },
      tweets: {
        background: '#ffffff',
        color: '#333333',
        links: '#aa0000'
      }
    },
    features: {
      scrollbar: false,
      loop: false,
      live: false,
      behavior: 'all'
    }
  }).render().setUser('breadpan').start();
  </script>
  -->
</body>
</html>
