<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <!-- Only temporary for development. -->
  <meta http-equiv="Cache-Control" content="no-cache">
  <title>{{ site.name }} &mdash; {{ page.title }}</title>
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/fruity.css" media="screen" rel="stylesheet" type="text/css" />

  <link href='http://fonts.googleapis.com/css?family=Arbutus+Slab' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
</head>
<body class="page">
  <div class="header-container">
    <header class="header">
      <h1><a href="{{ site.baseurl }}">fr.ench.info</a></h1>
      <nav class="nav">
        <ul>
          <li><a href="{{ site.baseurl }}">Home</a></li>
          <li><a href="/about.html">About</a><li>
          <li><a href="/blog">Blog</a><li>
          <li><a href="/contact.html">Contact</a><li>
        </ul>
      </nav>
    </header>
  </div>
  <div class="main-container">
    <div class="main">
      <div class="content">
        {{ content }}
      </div>
      {% include aside.html %}
    </div>
  </div>
  <div class="footer-container">
    {% include footer.html %}
  </div>

  <script src="/javascripts/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/jquery.cycle.all.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/script.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
